* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Google Sans;
}

body{
    display:flex;
    align-items: center;
    background-color: #0f0f16;
    color: #ffffff;
    justify-content: center;
    height: 90vh;

}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.subcontainer-search{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    max-width: 1000px;
    gap:20px;
    border: 2px solid #656270;
    border-radius: 10px;
    background-color: rgb(28, 33, 46);
}

.subcontainer-search::before,
.subcontainer-result::before {
    content: "";
    position: absolute;
    inset: -30px;
    background: linear-gradient(135deg, #ed3a3a, #f6ca3b);
    filter: blur(80px);
    z-index: -1;
    animation: softGlow 10s ease-in-out infinite;
}

@keyframes softGlow {
    0%, 100% {
        transform: scale(0.95);
        opacity: 0.50;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.75;
    }
}

.subcontainer-result{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    max-width: 1000px;
    gap:20px;
    border: 2px solid #656270;
    border-radius: 10px;
    background-color: rgb(28, 33, 46);
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto 20px;
}

.row:last-child{
    margin-bottom: 0;
}

.buttoncontainer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.searchbuttoncontainer,
.resultbuttoncontainer{
    display: flex;
    gap: 15px;
}

button[type="submit"],
#buttonretry{
    background-color: #ffd902;
    color: #000000;
    font-weight: 550;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: transform .25s ease;
}

button[type="submit"]:hover,
#buttonretry:hover{
    background-color: #ffed88;
    transform: scale(1.03);
}

button[type="reset"]{
    background-color: #111722   ;
    color: #ffffff;
    font-weight: 550;
    padding: 10px 25px;
    border: 2px solid #b6b5b9;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: transform .25s ease;
}

button[type="reset"]:hover{
    background-color: #1a1f2b;
    transform: scale(1.03);
}

h3{
    margin-top: 5px;
    margin-bottom: 30px;
    color: #c9c7cd
}

.field{
    position: relative;
}

.field i {
    position: absolute;
    left: 12px;
    top: 68%;
    transform: translateY(-50%);
    color: gray;
    pointer-events: none;
}

select option{
    background-color: #111722;
    color:#b6b5b9;
}

.label{
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #e5e4e7;
}

.field input,
.field select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #323133;
    background-color: #111722;
    color:#b6b5b9;
    border-radius: 10px;
    margin-bottom: 0;
    padding-left: 38px;
}

/* Result */

.result-content{
    display: flex;
    gap: 24px;
}

.result-text{
    display: flex;
    flex-direction: column;
    flex: 1;    
    min-width: 0;
}

.result-text p{
    font-size: 16px;
    color: #c9c7cd;
}

.title,
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title{
    margin-bottom: 10px;
}

.info {
    margin-top: 10px;
}

.info p {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
}

.info p:not(:empty)::before {
    content: "•";
    margin-right: 8px;
    color: #ffd902;
}

.title #anoLancamento{
    padding: 6px;
    background-color: #ffd902;
    color: #000000;
    border-radius: 10px;
}

#poster{
    width: 125px;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
}

.hidden{
    display: none;
}

@media (max-width: 768px){
    .subcontainer{
        padding-left: 24px;
        padding-right: 24px;
    }

    .row{
        grid-template-columns: 1fr;
    }

    .result-content{
        flex-direction: column;
    }

    #poster{
        width: 100%;
        max-width: 260px;
        height: auto;
    }
}